<td-layout>
  <td-navigation-drawer
    flex
    sidenavTitle="Festivities"
    logo="teradata-dark"
    [email]="email || 'Not found user'"
  >
    <mat-nav-list *ngIf="!isLogged">
      <a routerLink="/login" mat-list-item><mat-icon>lock_open</mat-icon>Login</a>
    </mat-nav-list>
    <mat-nav-list *ngIf="isLogged">
      <a href="javascript:;" (click)="logout()" mat-list-item><mat-icon>lock</mat-icon>Logout</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list *ngIf="!isLogged">
        <a routerLink="/" mat-list-item><mat-icon>home</mat-icon>Home</a>
      </mat-nav-list>
      <mat-nav-list *ngIf="isLogged">
        <a routerLink="/festivities" mat-list-item><mat-icon>list</mat-icon>Festivities</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav
    logo="assets:teradata"
    toolbarTitle="Festivities"
    navigationRoute="/"
  >
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <ng-content></ng-content>
  </td-layout-nav>
</td-layout>
