<app-layout-public>
  <td-layout-card-over
    cardTitle="Festivities"
    cardSubtitle="Card Over Layout Demo"
  >
    <mat-drawer-container class="sidenav-container">
      <mat-drawer #drawer mode="side">
        <div class="uk-container uk-section">
          <app-festivity-form></app-festivity-form>
        </div>
      </mat-drawer>

      <mat-drawer-content>
        <div class="uk-container uk-section">
          <div class="uk-align-right">
            <button type="button" mat-raised-button (click)="drawer.toggle()">
              New
            </button>
          </div>
          <app-festivity-list></app-festivity-list>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </td-layout-card-over>
</app-layout-public>
